.root {
  background-color: var(--bgblack);
  width: 95%;
  height: 15%;
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  color: var(--white);
  align-items: center;
}
.time {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
