.root {
  background-color: #4a4747;
  width: 95%;
  height: 15%;
  border-radius: 55px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.time {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
