.root {
  width: 80%;
  height: 10%;
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.input {
  border-radius: 21px;
  height: 36px;
  background-color: var(--black);
  text-indent: 10px;
  color: var(--white);
  width: 100%;
  border: 1px solid black;
}

.searchButton {
  width: 30px;
  height: 30px;
  color: var(--white);
  margin-left: -40px;
}
