.App {
  width: 430px;
  height: 932px;
  border-radius: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
}

.info-wraper {
  height: 16%;
  width: 95%;
  display: flex;
  justify-content: space-between;
  gap: 3%;
}
